SERVER_HOST=0.0.0.0
SERVER_PORT=8000

MONITOR_ROUT=/metrics
MONITOR_PORT=9090
{{ if .withRedis }}# Redis provider config
REDIS_SERVER=
REDIS_DB=
REDIS_PASSWORD=
{{ end }}
{{ if .withElastic }}# Elastic provider config
ELASTIC_HOST=
ELASTIC_PORT=
ELASTIC_USERNAME=
ELASTIC_PASSWORD={{ end }}
{{ if .withPostgres }}# Postgres provider config
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEZONE=
POSTGRES_CONN_MAX_TIME=
POSTGRES_MAX_IDLE_CONN=
POSTGRES_MAX_OPEN_CONN=
{{ end }}