// Code generate by Gango
package helloworld

import (
    {{ if .grpc}}"context"{{ end }}
    {{ if .gin}}
	"net/http"

	"{{.ProjectName}}/src/lib/errs"

	"github.com/gin-gonic/gin"{{ end }}
)

type HelloWorldController struct {
}

func NewHelloWorldController() *HelloWorldController {
	return &HelloWorldController{}
}

{{ if .grpc}}
func (d HelloWorldController) helloWord(ctx context.Context) {
    // TODO complete here base on your proto file
	return
}
{{ end }}
{{ if .gin }}
func (d HelloWorldController) helloWord(c *gin.Context) {
	_, err := c.Writer.Write([]byte("hello world"))
	if err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": errs.ErrInternalServer})
		return
	}
}
func (d HelloWorldController) RegisterRoutes(rg *gin.RouterGroup) {
	rg.GET("/hello-world", d.helloWord)
}{{ end }}

