// Code generate by Gango
package middlewares

import (
	{{ if .gin }}"github.com/gin-gonic/gin"{{end}}
	{{ if .grpc }}"context"

    grpcAuth "github.com/grpc-ecosystem/go-grpc-middleware/auth"{{end}}
)

type Middleware struct {
}

func NewMiddleware() *Middleware {
	return &Middleware{}
}

{{ if .gin }}
func (m *Middleware) AuthMiddleWare() gin.HandlerFunc {
	return func(c *gin.Context) {
		// TODO complete with your logic
	}
}
{{end}}
{{if .grpc}}
func (m *Middleware) AuthMiddleWare() grpcAuth.AuthFunc {
	return func(ctx context.Context) (context.Context, error) {
		// TODO complete with your logic
		return ctx, nil
	}
}
{{end}}

