// Code generate by Gango
package monitor

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"os"
	"time"

	"{{.ProjectName}}/src/lib/logging"

	"github.com/prometheus/client_golang/prometheus"
	"github.com/prometheus/client_golang/prometheus/promhttp"

)

const NameSpace = "{{.NameSpace}}"

var logger = logging.GetLogger("prometheus")

type PrometheusMetricsServer struct {
	URL  string
	Port string
}

func (s PrometheusMetricsServer) Register(collector prometheus.Collector) {
	prometheus.MustRegister(collector)
}

func (s PrometheusMetricsServer) Start(interrupt <-chan os.Signal) {
	mux := http.NewServeMux()
	mux.Handle(s.URL, promhttp.Handler())

	addr := fmt.Sprintf(":%s", s.Port)
	server := &http.Server{
		Addr:              addr,
		Handler:           mux,
		ReadHeaderTimeout: time.Second * 5,
	}
	go func() {
		logger.
			With("port", s.Port, "url", s.URL).
			Info("Create PrometheusMetricsServer")
		if err := server.ListenAndServe(); err != nil && !errors.Is(err, http.ErrServerClosed) {
			logger.Fatalf("Monitor PrometheusMetricsServer Error: %v", err)
		}
	}()

	<-interrupt

	if err := server.Shutdown(context.Background()); err != nil {
		logger.Error(err)
	} else {
		logger.Info("Shout Down PrometheusMetricsServer")
	}
}
