// Code generate by Gango
package providers

import (
	"{{.ProjectName}}/src/lib/logging"

	"github.com/go-redis/redis"
	"github.com/spf13/cast"
)

var logger = logging.GetLogger("providers")

func NewRedisFromConfig(conf RedisConfig) (*redis.Client, error) {
	client := redis.NewClient(&redis.Options{
		Addr:     conf.Server,
        DB:       cast.ToInt(conf.DB),
		Password: conf.Password,
	})

	_, err := client.Ping().Result()
	if err != nil {
		return nil, err
	}
	logger.With("server" , conf.Server).Info("Connected to Redis.")
	return client, err
}

type RedisConfig struct {
	Server   string
	Password string
	DB       string
}

